@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


body {
  background-image: url("../images/grad.jpg");
  color: #333;
  font-family: font-family: 'Roboto Condensed', sans-serif;;
}
.container {
  background: #f4f4f4;
  display: block;
  width: 400px;
  margin: 25vh auto;
  padding: 50px;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px;
}
.form_group {
  text-align: center;
  
  padding: 1rem;
}

#btn{
  float:right;
  background: #33cc33;
  color: #fff;
  text-decoration: bold;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 9px;
  cursor: pointer;
}

#btn:hover{
  background: green;
  color:black;
  border:none;
  padding: 12px 32px;
}

.errorfield{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: red;
  font-weight: bold;
  text-height: 10px;
  display: inline;
  float: right;
  padding-right: 0;
  margin:0;
}

input[type="text"] {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  height: 24px;
  padding: 18px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  color: #888;
  display:block;
}

input[type="email"] {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  height: 24px;
  padding: 18px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  color: #888;
  display:block;
}

input[type="tel"] {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    height: 24px;
    padding: 18px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    color: #888;
    display:block;
  }


