.container {
    background: #f4f4f4;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #333333;
    text-align: center;
    height: 44px;
    padding-top: 10px;

}

h3 {
    background: #53a553;
    margin-left: 35px;
    height: 34px;
    border-radius: 1px;
    width: 97%;
    margin-left: 50px;
    opacity: 0.9;
    padding-top: 5px;
}

.listitem {
    margin: 10px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    background: #ffffff;
    border-radius: 6px;
}

.dataDisplay {
    align-items: center;
}


ol li {
    list-style-type: none;
    padding-left: 9px;
    margin: 5px;
}

.material-icons {
    float: right;
    position: fixed;
}

span {
    width: 250px;
    padding-left: 150px;
    margin-right: 350px;

}